.carousel-item {
    height: 90vh;
}
.carousel-item img{
    height: 100%;
}
.carousel-caption p {
    background-color: rgba(0, 0, 0, 0.767);
    border-radius: 20px;
    padding: 12px;

}
#proje{
   background-color: rgba(237, 11, 11, 0.1);   
}
.card{
    height: 50vh !important;
}
.card img{
    background-size: cover;
    background-position: center;    
}
.card img:hover{
    opacity: 0.8;
    cursor: pointer;
}
#contact{
    background-image: url(./img/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}
#contact .btn{
    background-color: pink;
}


